ExcelToEnumerable/.vs/
ExcelToEnumerable/ExcelToEnumerable.Tests/bin/
ExcelToEnumerable/ExcelToEnumerable.Tests/obj/
ExcelToEnumerable/ExcelToEnumerable/bin/
ExcelToEnumerable/ExcelToEnumerable/obj/
ExcelToEnumerable/packages/
ExcelToEnumerable/ExcelToEnumerable.Benchmarks/bin
ExcelToEnumerable/ExcelToEnumerable.Benchmarks/obj
ExcelToEnumerable/ExcelToEnumerable.Standard/bin
ExcelToEnumerable/ExcelToEnumerable.Standard/obj
ExcelToEnumerable/.idea/
packages
ExcelToEnumerable.Benchmarks/bin
ExcelToEnumerable.Tests/bin
.vs
ExcelToEnumerable/bin
ExcelToEnumerable/obj
ExcelToEnumerable.Benchmarks/obj
ExcelToEnumerable.Tests/obj
.idea/
ExcelToEnumerable.sln.DotSettings.user